/build/*
/dist/*
/docs/*
node_modules
yarn-error.log
coverage
tsconfig.tsbuildinfo
.DS_Store
examples/ts-vite/dist/*
packages/app/**/*.wgsl.d.ts
packages/glyph/pkg
packages/shader/bin/*
packages/wgsl/src
scripts/fetch-tiles.mjs
.env.local
.npmrc